*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
   
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0rem .5rem;
    background-color: rgba(255, 254, 254, 0.568);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 3rem;
    align-items: center;


    nav ul{
        display: flex;

        flex-direction: row;
        align-items: center;
        gap: 1rem;
       

        a{
            color: black;
        }
    }
}

.vistaAgregar{
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
   

}
.dataGastos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
   
   div:nth-child(1){
        margin-left: 3rem;
        background: green;

    }
    div:nth-child(3){
        
       margin-right:3rem ;
        background: blue;

    }

    
    div{
        
        display: flex;
        flex-direction: column;
        height: 7rem;
        background: red;
        border-radius: 10px;
        

    }
}
#posicion{
    position: absolute;
    
}