{% load static %}

<head>
    <title>Agregar Ingresos</title>
    <link rel="stylesheet" href="{% static 'ingresos.css'%}">
</head>
<body>
    <main class="container">
        <h1>Ingresa tus ingresos</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="categoria">Categoría</label>
            <select name="categoria" id="categoria">
                {% for valor in categoria %}
                    <option value="{{ valor.id }}">{{ valor.nombre }}</option>
                {% endfor %}
            </select>

            <label for="" >Cantidad Ingreso</label>
            <input type="number" name="cantidadIngresos">

            <label>Fecha de ingreso</label>
            <input type="datetime-local" name="fecha">

            <button class="save-btn" name="Agregar" value="guardar">Agregar Ingreso</button>
            <button class="save-btn" name="Agregar" value="guardarMas">Agregar Ingreso y seguir agregando</button>
            <button class="cancel-btn" name="Agregar" value="cancelar">Cancelar Agregar Ingreso</button>
        </form> 
    </main>
</body>